$color-primary: #97b6b5;
$color-primary-dark: #7fa3a2;
$color-primary-hover: #b2d1d0;
$color-secondary: #ABCECF;
$color-tertiary: #C4DCE0;
$color-quaternary: #DAF4F5;
$color-white: #FFFFFF;
$color-black: #000000;
$color-success: #79ce87;
$color-alert: #e74a4a;
$color-warning: #f3de56;
$color-light-gray: #eceeef;
$color-midium-gray: #0C000000;

$font-size: 3rem;

